* {
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

body {
  margin: 0;
}

.main-app {
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.search-bar {
  border: none;
  padding: 10px 20px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  outline: none;
}

.main-app.has-info .search-bar {
  border-radius: 5px 5px 0 0;
}

.drop-list {
  position: absolute;
  width: 100%;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  border-radius: 5px;
  overflow: hidden;
  top: 30px;
  left: 0;
  padding: 0;
  background-color: #fff;
}

.drop-list__item {
  list-style: none;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
  font-size: 15px;
}

.drop-list__item.active {
  background-color: pink;
}

.drop-list__item:last-child {
  border-bottom: none;
}

.country-info {
  display: block;
  width: 100%;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.country-info__title {
  color: #ff6434;
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
}